<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet")
        link(href="main.scss" rel="stylesheet")
        title Test
    body
        .container
            .stock
                h1 2 часов по цене одних!
            .watch-pic
                .watch-img
                    img(src="img/watch1.png", alt="watch1")
            .description
                p(class="smart") Умные часы iTracker 
                p(class="present") +часы  iWatch в подарок!
                p(class="itracker-desc") iTracker— это умные часы  для занятий спортом и любой другой активности. Ими можно пользоваться без привязки к смартфону, хранить на них музыку и записывать все возможные показатели.
            .pic-list
                .watch-img-list
                    img(src="img/watch2.png", alt="watch2") 
            .options-list
                ul
                    li Пульсометр
                    li Счетчик калорий
                    li Контроль давления
                    li Трекер + Шагомер
                    li Индикатор физической активности
                    li(class="lh") Оповещения с whatsupp <br>и Instagram
                    li Компас и GPS
                    li Контроль камеры
                    li Смарт-будильник
                    li Управление аудиоплеером
            .sale-pic
            .sale
                h1 тотальная летняя распродажа!
            .iwatch
                .iwatch-titile
                    p Только до 21.92.02 вторые <br>часы iWatch в подарок
                .iwatch-img
                    img(src="img/watch4.png", alt="watch4")
                .iwatch-list
                    ul
                        li Стильно выглядит
                        li Каучуковый ремешок
                        li Светодиодная подсветка
            .form-group
                h1 ЗАКАЗАТЬ СЕЙЧАС!
                p(class="lt") 5294 руб
                h1(class="form-sail") 990 руб.
                p(class="form-action") * вторые часы iwatch в подарок
                .watch-form
                    form
                        .input-arr
                            .arrow
                                img(src="img/arrow.png", alt="arrow")
                            input(type="text", class="rus" placeholder="Россия")
                        input(type="text", placeholder="Ваше Имя")
                        input(type="text", placeholder="Ваш телефон")
                button заказать сейчас
                p(class="title-action") До конца акции осталось:
                ul
                    li(class="day")
                        .date 00
                        .date-title Дней
                    li(class="hour")
                        .date 12
                        .date-title Часов
                    li(class="min")
                        .date 02
                        .date-title Минут
                    li(class="sec")
                        .date 05
                        .date-title Секунд
                p(class="underline") Политика конфиденциальности

                
                

                    